/********************************
			Global
********************************/
:root {
	--white: #FFFFFF;
	--gray-light: #EEEEEE;
	--gray: #A9A9A9;
	--gray-dark: #9A9A9A;
	--blue-light: #75A4F4;
	--blue: #4386FA;
	--blue-dark: #2B74F2;
	--red: #FF0000;
	--red-light: #FFB2B2;
	--blue-highlight: #E0EAF9;
}

html {
	-webkit-user-select: none;
}

body {
	margin: 0;
}

p {
	cursor: default;
}

ul {
	list-style-type: none;
	overflow: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

li {
	width: 583px;
	height: 31px;
}

li:nth-child(odd) {
	background-color: var(--blue);
}

li:nth-child(even) {
	background-color: var(--blue-dark);
}

li:nth-child(odd) ::selection {
	color: var(--white);
	background-color: var(--blue);
}

li:nth-child(even) ::selection {
	color: var(--white);
	background-color: var(--blue-dark);
}

input {
	-webkit-user-select: auto;
	border-style: solid;
	border-color: var(--gray);
	border-width: 0px;
	margin: 5px 5px 5px 5px;
	height: 21px;
	padding: 1px;
	outline: 0;
}

input:focus {
	border-style: solid;
	border-color: var(--blue-light);
	border-width: 0px;
	background-color: var(--blue-highlight);
}

input[disabled] {
	margin: 5px 3px 5px 5px;
	border-style: solid;
	border-color: var(--gray-dark);
	border-width: 0px;
	background-color: var(--gray-light);
}

button {
	outline: 0;
	padding: 0;
	border-style: none;
}

select {
	border-style: solid;
	border-color: var(--gray);
	border-image-width: 0;
	width: 150px;
	height: 21px;
}

select:hover {
	border-color: var(--blue-light);
}

select:focus {
	border-color: var(--blue-light);
}

option {
	border-color: var(--red);
}

a {
	text-decoration: none;
	color: var(--blue-dark);
}

a:hover {
	color: var(--blue-light);
}

.popup {
	width: 600px;
	height: 400px;
}

.toolbar {
	width: 350px;
	height: 50px;
}


/********************************
			Menu Bar
********************************/
#menu {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 600px;
	background-color: var(--blue);
}

#menu-title-container {
	background-color: var(--blue);
	height: 50px;
	width: 200px;
	float: left;
}

#menu-title {
	color: var(--white);
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}

.menu-button {
	cursor: pointer;
	height: 50px;
	width: 50px;
	float:left;
	background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
	background-color: var(--blue-light);
}

.menu-button[disabled], .menu-button[disabled]:hover {
	background-color: var(--blue-dark);
}

.menu-tab-icon {
	height: 30px;
	width: 30px;
	margin: 10px;
}

.menu-sort-type-icon {
	height: 20px;
	width: 20px;
	margin: 15px 15px 5px;
}

.menu-sort-arrow-icon {
	height: 10px;
	width: 10px;
}

.selected-button {
	background-color: var(--blue-dark);
}

/********************************
		Add & Toolbar
********************************/
#add-tab-container {
	height: 50px;
	width: 350px;
	margin: 150px 150px;
}

#add-keyword-input {
	height: 50px;
	width: 250px;
	font-size: 30px;
	margin: 0;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--gray);
	float: left;
}

#add-keyword-input:focus {
	border-color: var(--blue);
	background-color: var(--white);
}

#add-keyword-input::selection {
	color: var(--white);
	background: var(--blue);
}

#add-keyword-input.input-invalid {
	border-color: var(--red);
}

#add-keylink-button {
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
	border-style: none;
	float: left;
	background-color: var(--blue);
	cursor: pointer;
}

#add-keylink-button:hover, #add-keylink-button:focus {
	background-color: var(--blue-light);
}

#add-keylink-button[disabled] {
	background-color: var(--gray);
	cursor: default;
}

.add-icon {
	height: 50px;
	width: 50px;
}

#toolbar-menu {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 350px;
	background-color: var(--blue);
}

.keylink-statistics-text {
	text-align: right;
	color: var(--white);
	font-size: 14px;
	line-height: 0;
	margin: 0;
	padding: 12px 20px;
}

/********************************
		Import & Edit
********************************/

#edit-keylinks-list, #import-bookmarks-list {
	height: 340px;
	margin-top: 10px;
}

/* Replace with stylized option box */
#bookmark-folders-selection-box {
	margin: 15px;
	float: right;
}

#sort-button-container {
	float: right;
}

.empty-tab-header {
	text-align: center;
	color: var(--blue);
	font-size: 24px;
	margin-top: 100px;
}

.empty-tab-text {
	text-align: center;
	color: var(--gray);
	font-size: 16px;
}

.import-keyword-input, .import-title-input, .import-bookmark-button, .import-add-icon, .edit-keyword-input, .edit-link-input, .delete-keylink-button, .edit-delete-icon, .visit-link-button, .equal-icon {
	float: left;
}

.import-keyword-input, .edit-keyword-input {
	width: 200px;
}

.import-keyword-input.input-invalid, .edit-keyword-input.input-invalid {
	background-color: var(--red-light);
}

.import-title-input, .edit-link-input {
	width: 325px;
}

.import-title-input[disabled] {
	margin: 5px 5px 5px 0px;
}

.import-bookmark-button, .delete-keylink-button, .visit-link-button {
	width: 21px;
	height: 21px;
	margin: 5px 0 5px 0;
	background-color: transparent;
	cursor: pointer;
}

.import-bookmark-button:hover, .import-bookmark-button:focus, .delete-keylink-button:hover, .delete-keylink-button:focus, .visit-link-button:hover, .visit-link-button:focus {
	background-color: var(--blue-light);
}

.import-bookmark-button[disabled] {
	cursor: default;
}

.import-bookmark-button[disabled]:hover {
	background-color: transparent;
}

.import-add-icon, .edit-delete-icon {
	width: 21px;
	height: 21px;
}

.equal-icon {
	width: 11px;
	height: 11px;
	margin: 5px;
}

.import-keyword-input, .edit-keyword-input {
	margin-right: 0;
}

.import-title-input, .edit-link-input {
	margin-left: 0;
}

/********************************
			Settings
********************************/
#credits {
	position: absolute;
	float: left;
	font-size: 12px;
	margin: 10px;
	bottom: 0;
	color: var(--gray-dark);
}

#export-button {
	float:right;
}

.settings-text {
	float: left;
	font-size: 18px;
	margin: 5px;
	color: var(--gray-dark);
}

.settings-text:hover {
	color: var(--blue-light);
	-webkit-transition: color 1s;
}

.disabled-setting, .enabled-setting {
	float: right;
	height: 25px;
	width: 25px;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: background-color 0.3s;
}

.disabled-setting {
	background-color: var(--gray-dark);
}

.enabled-setting {
	background-color: var(--blue);
}

.enabled-setting:focus, .enabled-setting:hover {
	background-color: var(--blue-light);
}

.setting-icon {
	height: 15px;
	width: 15px;
	margin: 5px;
}

.setting-container {
	width: 100%;
	width: 600px;
	height: 40px;
}
